<md-toolbar style="background : #607D8B">
	<span style="color : white; text-align : center ">Campus Recruitment</span>
	<span class="example-fill-remaining-space"></span>
	<div>
		<button md-raised-button color="primary" routerLink="/app-all-students">View Students</button> &nbsp;
	</div>
	<div>
		<button md-raised-button color="primary" routerLink="/app-company-post-job">Post a job</button> &nbsp;
	</div>
	<div>
		<button md-raised-button color="primary" (click)="signOut()">Logout</button>
	</div>
</md-toolbar>


<div *ngIf="appState == 'default'">
	<table class="table table-striped">
		<tr>
			<th style="padding : 10px" *ngFor="let th of tableHeader">{{th}}</th>

		</tr>
		<td>
			<tr *ngFor="let a of companyDataArray">

				<th style="position: relative;left: 80px;">{{a.jobTitle}}</th>
				<th style="position: relative;left: 175px;">{{a.job_description}}</th>


				<button md-raised-button color="primary" style="position: relative;left: 260px;" (click)="viewCandidates(a.jobTitle)">view Candidates</button>

			</tr>
		</td>

	</table>
</div>


<div *ngIf="appState == 'showCV'">

	<button (click)="back()">
<i class="material-icons">arrow_back</i>
</button>


	<md-card *ngFor="let a of studentCV_Arr">

		<md-card-content>
			Student CNIC :{{a.CNIC}}
		</md-card-content>

		<md-card-content>
			Student Full Name : {{a.fullName}}
		</md-card-content>
		<md-card-content>
			Student gender : {{a.gender}}
		</md-card-content>
		<md-card-content>
			Student Mobile : {{a.mobile}}
		</md-card-content>
		<md-card-content>
			Student Preferred Industry : {{a.preferredIndustry}}
		</md-card-content>

	</md-card>

</div>