
 <md-toolbar style="background : #607D8B">
   <span  style="color : white; text-align : center ">Campus Recruitment</span>
     <span class="example-fill-remaining-space"></span>
<button md-raised-button color="primary" routerLink="/app-signup">Register for Student</button> &nbsp;
<button md-raised-button color="primary" routerLink="/app-company">Register for Company</button>
 </md-toolbar>
<h1 style="text-align : center;font-family : sans-serifl;color : #607D8B">LOGIN</h1>


 


<md-card style="width: 30%;  margin: 0 auto;
    text-align: left;
   ">
  <form [formGroup]="loginForm">
  <div style="text-align:center" > 
<md-input-container>
  <input  mdInput placeholder="user email" [formControl]="loginForm.controls['userEmail']" >
</md-input-container>
</div>
<div style="text-align:center">

<md-input-container>
  <input value="000000" mdInput placeholder="user password" [formControl]="loginForm.controls['userPassword']">
</md-input-container>
</div>
<div style="text-align:center">
   <button md-raised-button color="primary"  (click)="login()">Login</button>
</div>
</form>
</md-card> 
<!-- routerLink="/app-dashboard" -->