
 <md-toolbar style="background : #607D8B">
   <span  style="color : white; text-align : center ">Campus Recruitment</span>
	 <span class="example-fill-remaining-space"></span>
	 <div>	
      <button md-raised-button color="primary" routerLink="/app-student-cv" >Upload CV</button> 
        &nbsp;
	</div>    
    <div>
      <button md-raised-button color="primary" (click)="signOut()">Logout</button>
    </div> 
</md-toolbar>
<h1 style="text-align : center;font-family : sans-serifl;color : #607D8B">DASHBOARD</h1>
<ul><li *ngFor="let showTitle of showCompanyTitle">{{showTitle}}
	</li></ul>
<ul><li *ngFor="let showDescript of showDescription">{{showDescript}}
	</li></ul>
<ul><li *ngFor="let showComp of showCompanyData">{{showComp.job_description | json}}
	</li></ul>



 