.example-fill-remaining-space {

  flex: 1 1 auto;
}
table {
    border-collapse: collapse;
    width: 20%;
}

th, td {
    text-align: left;
    padding: 8px;
}

td:nth-child(even){background-color: #f2f2f2}